<%- include("header") -%>

<div class="desc">
  <p class="heading">A Union of Compassion and Healthcare.</p>
  <p>Caring for the growing needs of our community.</p>

  <button class="start">Donate for a cause</button>
  <button type="submit" class="more"><a class="govt-site" href="https://www.covid19india.org/ ">Learn More</a></button>
</div>
</div>

<form class="popup_location" action="/" method="post">
  <h2>Enter your City.</h2>
  <input type="text" name="city" value="">
  <h2>Enter your Locality</h2>
  <input type="text" name="locality" value=""><br>
  <button type="submit" name="confirm"> Confirm </button>
</form>


</div>
<div class="container2">
  <h2 class="second1">Become a volunteer</h2>
  <div class="grid">
    <div class="item1">
      <h3>Why Volunteer?</h3>
      <p>Volunteering can make a real difference to your own life and the
        lives of those around you. There are loads of ways to get involved and
        plenty of organisations that can help you find your dream role.</p>
    </div>
    <div class="item2">
      <h3>Stay safe when supporing others.</h3>
      <ul>
        <li>Only volunteer if you feel well enough and are not shielding, self-isolating or in a high-risk group.</li>
        <li>Keep washing your hands often for 20 seconds.</li>
        <li>Stay at least 2m – about three steps – away from people you’re helping.</li>
        <li>If you need to leave home to volunteer, you should be tested twice a week, even if you don’t have symptoms.</li>
      </ul>
    </div>
    <a href="/vol"> Fill the form to join the team.</a>
  </div>
</div>



<div class="container4">
  <div class="grid4">
    <div class="item41">
      <h3>Get tested regularly</h3>

    </div>
    <div class="item42">
      <a href="/medical">Get Tested.</a>
      <p>Fill the form, choose the diagnostic centre and you can get tested while sitting at your home. </p>
    </div>
  </div>
</div>

<img class="phone" src="images/63254-covid-19_and_diabetes2-removebg-preview.png" alt="">
<div class="container3">

  <div class="desc3">
    <h2>Patient Connect</h2>
    <p>Fill the form, telling all the symptoms that you are feeling.</p>

    <h4>Even the slightest symptoms matter.</h4>
    <p>You may have slight throat infection, breathing issues or slight cold.
      After mentioning these symptoms, doctors can treat you early.
      A review at the Chennai corporation's death registers showed that many
      people had hidden their symptoms, if they had not they could have been saved.</p>
    <a href="/patient">Fill the form here</a>
  </div>
</div>
<div class="container6">
  <h3>How to take care of a patient at home.</h3>
  <div class="grid">
    <div class="item">
      <img src="images\grid_img\sick_at_home.png" alt="">
      <p>Take care of oxygen levvels and alwways monitor the oxygen levek.</p>
    </div>
    <div class="item">
      <img src="images\grid_img\wear a mask.png" alt="">
      <p>Always wear a mask while entering the patient's room.</p>
    </div>
    <div class="item">
      <img src="images\grid_img\wash_hands.png" alt="">
      <p>Wash hands regularly for about 20 seconds.</p>
    </div>
    <div class="item">
      <img src="images\grid_img\disinfect.png" alt="">
      <p>Disinfect all the touch points.</p>
    </div>
  </div>
</div>

<div class="container5">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="container-fluid5">
        <div class="carousel-item active">
          <h2>Wear the mask properly.</h2>
          <img class="testimonial-image" src="images/5ef2cdbe27222d3b4746cfc5_facemask-fit.jpg" alt="dog-profile">
        </div>
        <div class="carousel-item">
          <h2>Wash your hands the correct way.</h2>
          <img class="testimonial-image" src="images/covid_19_banner_washing_hands_steps_instruction_sketch_6847469.jpg" alt="lady-profile">
        </div>
        <div class="carousel-item">
          <h2>Get vaccinated.</h2>
          <img class="testimonial-image" src="images/istockphoto-1221259525-612x612.jpg" alt="lady-profile">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>


<%- include("footer") -%>
